<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{formView.title}">Your Recipe</title>

    <!--Bootstrap-->

    <!--/*TODO: Upgrade to the newest version of bootstrap and co!*/-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"-->
            <!--integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="-->
            <!--crossorigin="anonymous"-->
            <!--th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"-->
            <!--integrity="sha256-AoNQZpaRmemSTxMy9xcqXX5VLwI6IMPYugO7bFHOW+U="-->
            <!--crossorigin="anonymous"-->
            <!--th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>-->

    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"-->
          <!--rel="stylesheet"-->
          <!--integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"-->
          <!--crossorigin="anonymous"-->
          <!--th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">-->

    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"-->
            <!--integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"-->
            <!--crossorigin="anonymous"-->
            <!--th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>

</head>
<body>
<!--/*@thymesVar id="recipeForm" type="com.tomlouiskeller.recipe.form.RecipeForm"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${recipeForm}" method="post">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Recipe Information</h1>
                        </div>
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p>Please Correct Errors Below</p>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('recipeTitle')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{recipeForm.recipeTitle}">Title:</label>
                                    <input type="text" class="form-control" th:field="*{recipeTitle}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('recipeTitle')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('recipeTitle')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label th:text="#{recipeForm.recipeCategories}">Categories:</label>
                                <div class="row">
                                    <div class="col-md-4 form-group"
                                         th:each="category : ${recipeForm.availableCategories}" >
                                        <input type="checkbox"
                                               name="recipeCategories"
                                               th:value="${category.id}"
                                               th:text="' ' + ${category.name}"
                                               th:checked="${recipeForm.recipeCategories.contains(category)}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('recipePreparationDuration')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{recipeForm.recipePreparationDuration}">Preparation Duration:</label>
                                    <input type="text" class="form-control" th:field="*{recipePreparationDuration}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('recipePreparationDuration')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('recipePreparationDuration')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('recipeCookingDuration')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{recipeForm.recipeCookingDuration}">Cooking Duration:</label>
                                    <input type="text" class="form-control" th:field="*{recipeCookingDuration}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('recipeCookingDuration')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('recipeCookingDuration')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label th:text="#{recipeForm.recipeDifficulty}">Difficulty:</label>
                                    <select class="form-control" th:field="*{recipeDifficulty}">
                                        <option th:each="difficulty : ${T(com.tomlouiskeller.recipe.domain.Difficulty).values()}"
                                                th:value="${difficulty.name()}"
                                                th:text="${difficulty.getReadable()}"
                                        > Value
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('recipeServings')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{recipeForm.recipeServings}">Servings:</label>
                                    <input type="text" class="form-control" th:field="*{recipeServings}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('recipeServings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('recipeServings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('recipeSource')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{recipeForm.recipeSource}">Source:</label>
                                    <input type="text" class="form-control" th:field="*{recipeSource}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('recipeSource')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('recipeSource')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('recipeUrl')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{recipeForm.recipeUrl}">URL:</label>
                                    <input type="text" class="form-control" th:field="*{recipeUrl}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('recipeUrl')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('recipeUrl')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" th:text="#{recipeForm.recipeIngredients}">Ingredients</h1>
                        </div>

                        <div class="panel-body" th:class="${#fields.hasErrors('recipeIngredients')} ? 'panel-body has-error' : 'panel-body'">
                            <span class="help-block" th:if="${#fields.hasErrors('recipeIngredients')}">
                                <ul>
                                    <li th:each="err : ${#fields.errors('recipeIngredients')}" th:text="${err}"/>
                                </ul>
                            </span>
                            <!-- TODO: Add error reporting for ingredients-->
                            <div class="row">
                                <div class="col-md-12 form-group"
                                     th:class="${#fields.hasErrors('recipeIngredients')} ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <ul>
                                        <li th:each="ingredient,iterStat : ${recipeForm.recipeIngredients}">
                                            <!--<input type="text" class="form-control" th:field="${ingredient.amount}" th:errorclass="has-error" />-->
                                            <!--<input type="text" class="form-control" th:field="${ingredient.unitOfMeasurement.name}" th:errorclass="has-error" />-->
                                            <!--<input type="text" class="form-control" th:field="${ingredient.product.name}" th:errorclass="has-error" />-->
                                            <input th:field="*{recipeIngredients[__${iterStat.index}__].amount}"
                                                   th:errorclass="has-error" />

                                            <input th:field="*{recipeIngredients[__${iterStat.index}__].unitOfMeasurement.name}"
                                                   th:errorclass="has-error" />

                                            <input th:field="*{recipeIngredients[__${iterStat.index}__].product.name}"
                                                   th:errorclass="has-error"/>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TODO: Figure out input errors with textarea -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" th:text="#{recipeForm.recipeInstruction}">Instructions</h1>
                        </div>
                        <div class="panel-body" th:class="${#fields.hasErrors('recipeInstruction')} ? 'panel-body has-error' : 'panel-body'">
                            <span class="help-block" th:if="${#fields.hasErrors('recipeInstruction')}">
                                <ul>
                                    <li th:each="err : ${#fields.errors('recipeInstruction')}" th:text="${err}"/>
                                </ul>
                            </span>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('recipeInstruction')} ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <textarea class="form-control" rows="3" th:field="*{recipeInstruction}" th:errorclass="has-error"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>