<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!--Bootstrap-->

    <!--/*TODO: Upgrade to the newest version of bootstrap and co!*/-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"-->
    <!--integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="-->
    <!--crossorigin="anonymous"-->
    <!--th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"-->
    <!--integrity="sha256-AoNQZpaRmemSTxMy9xcqXX5VLwI6IMPYugO7bFHOW+U="-->
    <!--crossorigin="anonymous"-->
    <!--th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>-->

    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"-->
    <!--rel="stylesheet"-->
    <!--integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"-->
    <!--crossorigin="anonymous"-->
    <!--th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">-->

    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"-->
    <!--integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"-->
    <!--crossorigin="anonymous"-->
    <!--th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>


</head>
<body>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="recipe" type="com.tomlouiskeller.recipe.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">My Recipes!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <!--<thead class="thead-inverse">-->
                            <!--<tr>-->
                                <!--<th colspan="4">Title</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <tr th:remove="all">
                                <td>Some Recipe</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>Another Recipe</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.getTitle()}">And a third one</td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.getId()} + '/show/'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.getId()} + '/edit'}">Edit</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.getId()} + '/delete'}">Delete</a></td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right"><a href="#" th:href="@{'/recipe/new/'}">Create New Recipe</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>